*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
.header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(bilder/front-page.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 120px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #e2001a;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.header-text{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.header-text h1{
    font-size: 62px;
}
.header-text p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: white;
}
.bokning-knapp{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #e2001a;
    border: 1px solid white;
    border-radius: 10px;
    padding: 12px 34px;
    font-size: 18px;
    position: relative;
    cursor: pointer;
}
.bokning-knapp:hover{
    border: 1px solid #fff;
    color: black;
    background: #c3ff009a;
    transition: 0.5s;
}

nav .fa-solid{
    display: none;
}

@media(max-width: 700px){
    .header-text h1{
        margin-top: 120px;
        font-size: 20px;
    }
    .bokning-knapp{
        bottom: 35px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #e2001a;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    nav .fa-solid{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding:30px;
    }
}

/*Info*/
.info{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}

h3 {
    font-size: 36px;
}

p{
    color: black;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.rad{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.info-column1{
    flex-basis: 31%;
    background: white;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.3s;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.info-column2{
    flex-basis: 31%;
    background: white;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.3s;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.info-column3{
    flex-basis: 31%;
    background: white;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.3s;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.info-column1:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
    background-color: #c3ff009a;
    
}

.info-column2:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
    background-color: #1994ff9a;
    
}

.info-column3:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
    background-color: #ffa6009a;
    
}

.footer{
    height: 100px;
    display: flex;
    left: 0;
    bottom:0;
    background-color: white;
    box-shadow: 0 -10px 10px -10px rgba(0,0,0,0.5);
}

.footerlinks {
    height: fit-content;
}

.footerlinks ul {
    margin-top: 20px;
    list-style: none;
    height: fit-content;
    display: flex;
    width: 90%;
    flex-direction: row;
    margin-left: 5%;
    justify-content: space-between;
}

.footerlinks a {

    font-size: 18px;
    text-decoration: none;
    color: black;
}

.footerlinks ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #e2001a;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.footerlinks, ul li:hover::after {
    width: 100%;
}

.footertext {
    position: absolute;
    text-align: center;
    height: fit-content;
    width: 100%;

}

@media(max-width: 700px){
    .rad{
        flex-direction: column;
    }

    .info-column{
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    }

    .footerlinks ul {
        flex-direction: column;
        text-align: center;
        margin-bottom: 50px;
    }

    .footerlinks li {
        margin: 10px;
    }

    .footertext {
        color: rgb(29, 29, 29);
        margin-top: 35%;
    }

}